#sidebar
  .aside
    %h3 Articles
    %ul.articles
      :each article in articles.slice(0,20)
        %li
          %a{href: "/" + article.name}&=article.title
#main.clearfix
  %h1
    %a{href: "/#{name}"}&= title
  .articlemeta
    %span.author&= "by " + author.name
    :if date
      %span.date&= formatDate(date, "%l %F %j, %Y")
    :if lastUpdated
      %span.lastUpdated&= formatDate(lastUpdated, "%l %F %j, %Y")
  = markdownEncode(markdown)
  %hr{style:"clear:both"}
  #disqus_thread.body
  :script
    var disqus_shortname = 'softwarebakery';
    var disqus_url = "http://softwarebakery.com/#{name}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

  -#.aside.clearfix
    %h4 About the Author
    %img.headshot{src: gravitar(author.email) }
    %dl
      %dt Name:
      %dd&= author.name
      :if author.homepage
        %dd
          %a{href: author.homepage} Homepage
      :if author.github
        %dd
          %a{href: "http://github.org/#{author.github}"} Github
  -#.aside
    %h4
      About this Article
    :if date
      %dl{title: date}
        %dt
          Date Released:
        %dd
          &= formatDate(date, "%l %F %j, %Y")
    :if lastUpdated
      %dl{title: lastUpdated}
        %dt
          Last Updated:
        %dd
          &= formatDate(lastUpdated, "%l %F %j, %Y")

    %dl
      %dt
        Revisions:
      %dd
        %ul
          :each version, stat in log
            %li{title: stat.message}
              %a{ href: "/#{version}/#{name}" }
                &= new Date(stat.date).toUTCString()

