#sidebar
  %nav.aside
    %h3 Articles
    %ul.articles
      :each article in articles.slice(0,20)
        %li
          %a{href: "/" + article.name}&=article.title
#main.clearfix
  %article
    %header
      %h1
        %a{href: "/#{name}"}&= title
      %a.FlattrButton{style:"display:none",title:title,href:"http://softwarebakery.com/"+name,data-flattr-uid:author.name,data-flattr-button:"compact",data-flattr-category:"text"}&= intro(markdown)
      .articlemeta
        %span.author&= "by " + author.name
        :if date
          %time.date{datetime: formatDate(date, "%Y-%m-%d"), pubdate}&= formatDate(date, "%l %F %j, %Y")
        :if lastUpdated
          %time.lastUpdated{datetime: formatDate(date, "%Y-%m-%d")}&= formatDate(lastUpdated, "%l %F %j, %Y")
    = markdownEncode(markdown)
  %hr{style:"clear:both"}
  #disqus_thread.body
  :script
    var disqus_shortname = 'softwarebakery';
    var disqus_url = "http://softwarebakery.com/#{name}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
