#sidebar
  .aside
    %h3 koek
    hallo
#main.clearfix
  :if article.version
    %a.sha-version{ href: "/#{article.version}/#{article.name}" } Static Version
  %h1
    %a{href: "/#{article.name}"}&= article.title
  .articlemeta
    %span.author&= "by " + author.name
    :if article.date
      %span.date&= formatDate(article.date, "%l %F %j, %Y")
    :if article.lastUpdated
      %span.lastUpdated&= formatDate(article.lastUpdated, "%l %F %j, %Y")
  = markdownEncode(article.markdown)
  %hr{style:"clear:both"}
  #disqus_thread.body
  :script
    var disqus_shortname = 'softwarebakery';
    var disqus_url = "http://softwarebakery.com/#{article.name}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

  -#.aside.clearfix
    %h4 About the Author
    %img.headshot{src: gravitar(author.email) }
    %dl
      %dt Name:
      %dd&= author.name
      :if author.homepage
        %dd
          %a{href: author.homepage} Homepage
      :if author.github
        %dd
          %a{href: "http://github.org/#{author.github}"} Github
  -#.aside
    %h4
      About this Article
    :if article.date
      %dl{title: article.date}
        %dt
          Date Released:
        %dd
          &= formatDate(article.date, "%l %F %j, %Y")
    :if article.lastUpdated
      %dl{title: article.lastUpdated}
        %dt
          Last Updated:
        %dd
          &= formatDate(article.lastUpdated, "%l %F %j, %Y")

    %dl
      %dt
        Revisions:
      %dd
        %ul
          :each version, stat in article.log
            %li{title: stat.message}
              %a{ href: "/#{version}/#{article.name}" }
                &= new Date(stat.date).toUTCString()

